In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
path = "churn/train.csv"
df = pd.read_csv(path)

In [10]:
df.head()

,Employee ID,Age,Gender,Years at Company,Job Role,Monthly Income,Work-Life Balance,Job Satisfaction,Performance Rating,Number of Promotions,...,Number of Dependents,Job Level,Company Size,Company Tenure,Remote Work,Leadership Opportunities,Innovation Opportunities,Company Reputation,Employee Recognition,Attrition
0,8410,31,Male,19,Education,5390,Excellent,Medium,Average,2,...,0,Mid,Medium,89,No,No,No,Excellent,Medium,Stayed
1,64756,59,Female,4,Media,5534,Poor,High,Low,3,...,3,Mid,Medium,21,No,No,No,Fair,Low,Stayed
2,30257,24,Female,10,Healthcare,8159,Good,High,Low,0,...,3,Mid,Medium,74,No,No,No,Poor,Low,Stayed
3,65791,36,Female,7,Education,3989,Good,High,High,1,...,2,Mid,Small,50,Yes,No,No,Good,Medium,Stayed
4,65026,56,Male,41,Education,4821,Fair,Very High,Average,0,...,0,Senior,Medium,68,No,No,No,Fair,Medium,Stayed

In [11]:
df.isna().sum()

Employee ID                 0
Age                         0
Gender                      0
Years at Company            0
Job Role                    0
Monthly Income              0
Work-Life Balance           0
Job Satisfaction            0
Performance Rating          0
Number of Promotions        0
Overtime                    0
Distance from Home          0
Education Level             0
Marital Status              0
Number of Dependents        0
Job Level                   0
Company Size                0
Company Tenure              0
Remote Work                 0
Leadership Opportunities    0
Innovation Opportunities    0
Company Reputation          0
Employee Recognition        0
Attrition                   0
dtype: int64

In [12]:
df.duplicated().sum()

np.int64(0)

In [13]:
len(df)

59598

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59598 entries, 0 to 59597
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Employee ID               59598 non-null  int64
 1   Age                       59598 non-null  int64
 2   Gender                    59598 non-null  object
 3   Years at Company          59598 non-null  int64
 4   Job Role                  59598 non-null  object
 5   Monthly Income            59598 non-null  int64
 6   Work-Life Balance         59598 non-null  object
 7   Job Satisfaction          59598 non-null  object
 8   Performance Rating        59598 non-null  object
 9   Number of Promotions      59598 non-null  int64
 10  Overtime                  59598 non-null  object
 11  Distance from Home        59598 non-null  int64
 12  Education Level           59598 non-null  object
 13  Marital Status            59598 non-null  object
 14  Number of Dependents      59598 non-null  int64
 15  Job Level                 59598 non-null  object
 16  Company Size              59598 non-null  object
 17  Company Tenure            59598 non-null  int64
 18  Remote Work               59598 non-null  object
 19  Leadership Opportunities  59598 non-null  object
 20  Innovation Opportunities  59598 non-null  object
 21  Company Reputation        59598 non-null  object
 22  Employee Recognition      59598 non-null  object
 23  Attrition                 59598 non-null  object
dtypes: int64(8), object(16)
memory usage: 10.9+ MB

In [15]:
df.describe()

,Employee ID,Age,Years at Company,Monthly Income,Number of Promotions,Distance from Home,Number of Dependents,Company Tenure
count,59598.000000,59598.000000,59598.000000,59598.000000,59598.000000,59598.000000,59598.000000,59598.000000
mean,37227.118729,38.565875,15.753901,7302.397983,0.832578,50.007651,1.648075,55.758415
std,21519.150028,12.079673,11.245981,2151.457423,0.994991,28.466459,1.555689,25.411090
min,1.000000,18.000000,1.000000,1316.000000,0.000000,1.000000,0.000000,2.000000
25%,18580.250000,28.000000,7.000000,5658.000000,0.000000,25.000000,0.000000,36.000000
50%,37209.500000,39.000000,13.000000,7354.000000,1.000000,50.000000,1.000000,56.000000
75%,55876.750000,49.000000,23.000000,8880.000000,2.000000,75.000000,3.000000,76.000000
max,74498.000000,59.000000,51.000000,16149.000000,4.000000,99.000000,6.000000,128.000000

### Years at Company

In [26]:
df["Years at Company"].unique()

array([19,  4, 10,  7, 41,  3, 23, 16, 44,  1, 12,  6, 38, 22, 30,  9, 37,
       33, 13,  5, 21, 32, 34, 11,  2, 18, 27, 17, 36,  8, 28, 35, 14, 24,
       40, 15, 45, 39, 20, 43, 26, 29, 46, 42, 25, 31, 47, 48, 49, 50, 51])

In [16]:
#The mode of the years at the company
df["Years at Company"].mode()

0    5
Name: Years at Company, dtype: int64

In [74]:
df["Years at Company"].value_counts()

Years at Company
5     2456
2     2453
1     2421
8     2403
9     2400
10    2380
3     2366
6     2344
7     2336
11    2326
4     2302
12    2206
13    2048
14    1910
15    1837
16    1726
17    1570
18    1483
19    1403
20    1365
21    1272
23    1223
22    1215
24    1101
25    1023
26     998
27     984
28     889
29     854
30     793
31     761
32     706
33     657
34     648
36     519
35     508
37     464
38     454
39     446
40     381
41     345
42     294
43     266
45     239
44     216
46     189
47     145
48     111
49      87
50      49
51      26
Name: count, dtype: int64

In [18]:
df.groupby(["Attrition"])['Years at Company'].mean()

Attrition
Left      14.987226
Stayed    16.448912
Name: Years at Company, dtype: float64

In [24]:
df.loc[df["Attrition"] == "Left", "Years at Company"].mode()

0    5
Name: Years at Company, dtype: int64

In [25]:
df.loc[df["Attrition"] == "Stayed", "Years at Company"].mode()

0    10
Name: Years at Company, dtype: int64

In [48]:
len(df.loc[(df["Attrition"] == "Left") & (df["Years at Company"] > 5)])

21955

In [51]:
len(df.loc[(df["Attrition"] == "Left") & (df["Years at Company"] < 5)])

5051

In [49]:
len(df.loc[(df["Attrition"] == "Stayed") & (df["Years at Company"] > 5)])

25645

In [50]:
len(df.loc[(df["Attrition"] == "Stayed") & (df["Years at Company"] < 5)])

4491

In [54]:
len(df[df["Years at Company"] > 5])

47600

In [55]:
len(df[df["Years at Company"] < 5])

9542

### Monthly Income

In [56]:
df["Monthly Income"].describe()

count    59598.000000
mean      7302.397983
std       2151.457423
min       1316.000000
25%       5658.000000
50%       7354.000000
75%       8880.000000
max      16149.000000
Name: Monthly Income, dtype: float64

In [58]:
df.groupby(["Attrition"])["Monthly Income"].mean()

Attrition
Left      7276.689533
Stayed    7325.703359
Name: Monthly Income, dtype: float64

In [75]:
income_mean = float(df["Monthly Income"].describe()["mean"])
income_mean
income_min = float(df["Monthly Income"].describe()["min"])

In [68]:
left_income_mean = float(df.groupby(["Attrition"])["Monthly Income"].mean()["Left"])
left_income_mean

7276.689533488602

In [65]:
df.groupby(["Attrition"])["Monthly Income"].median()

Attrition
Left      7321.5
Stayed    7380.0
Name: Monthly Income, dtype: float64

In [63]:
print(df.loc[(df["Attrition"] == "Left"), "Monthly Income"].min())
print(df.loc[(df["Attrition"] == "Left"), "Monthly Income"].max())

1316
16149

In [64]:
print(df.loc[(df["Attrition"] == "Stayed"), "Monthly Income"].min())
print(df.loc[(df["Attrition"] == "Stayed"), "Monthly Income"].max())

1575
15464

In [72]:
print(len(df.loc[(df["Attrition"] == "Left") & (df["Monthly Income"] < income_mean)]))
print(len(df.loc[(df["Attrition"] == "Left") & (df["Monthly Income"] > income_mean)]))

14097
14241

In [73]:
print(len(df.loc[(df["Attrition"] == "Stayed") & (df["Monthly Income"] < income_mean)]))
print(len(df.loc[(df["Attrition"] == "Stayed") & (df["Monthly Income"] > income_mean)]))

15308
15952

### Job Role

In [77]:
df["Job Role"].unique()

array(['Education', 'Media', 'Healthcare', 'Technology', 'Finance'],
      dtype=object)

In [78]:
df["Job Role"].value_counts()

Job Role
Technology    15507
Healthcare    13642
Education     12490
Media          9574
Finance        8385
Name: count, dtype: int64

In [81]:
df.groupby(["Attrition"])["Job Role"].value_counts()

Attrition  Job Role
Left       Technology    7333
           Healthcare    6454
           Education     6085
           Media         4542
           Finance       3924
Stayed     Technology    8174
           Healthcare    7188
           Education     6405
           Media         5032
           Finance       4461
Name: count, dtype: int64

### Work-life Balance

In [83]:
df.groupby(["Work-Life Balance"])["Attrition"].value_counts()

Work-Life Balance  Attrition
Excellent          Stayed        6880
                   Left          3839
Fair               Left         10370
                   Stayed        7676
Good               Stayed       13391
                   Left          9137
Poor               Left          4992
                   Stayed        3313
Name: count, dtype: int64

In [85]:
print(len(df.loc[(df["Attrition"] == "Left") & (df["Work-Life Balance"] == "Poor") & (df["Monthly Income"] < income_mean)]))
print(len(df.loc[(df["Attrition"] == "Left") & (df["Work-Life Balance"] == "Poor") & (df["Monthly Income"] > income_mean)]))

2499
2493

In [89]:
df.groupby(["Job Role"])["Work-Life Balance"].value_counts()

Job Role    Work-Life Balance
Education   Good                 4730
            Fair                 3741
            Excellent            2240
            Poor                 1779
Finance     Good                 3238
            Fair                 2469
            Excellent            1522
            Poor                 1156
Healthcare  Good                 5145
            Fair                 4134
            Excellent            2481
            Poor                 1882
Media       Good                 3591
            Fair                 2960
            Excellent            1685
            Poor                 1338
Technology  Good                 5824
            Fair                 4742
            Excellent            2791
            Poor                 2150
Name: count, dtype: int64